.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-heading h2 {
  font-weight: 700;
}

.modal-content {
  padding: 1rem;
  border-radius: 1rem;
}

.modal-body {
  padding: 0 1rem 1rem;
}

.modal form label {
  font-weight: 700;
}
.modal {
  overflow: auto !important;
}

.modal-dialog {
  justify-content: center;
}

.modal-footer {
  border: none;
  padding-top: 0;
}
<<<<<<< HEAD

#deleteModal {
  .modal-content {
    width: auto;
    padding: 0;
    .modal-body {
      padding: 2rem;

      .btn-fill-light {
        background-color: transparent;
        min-width: 120px;

        &:hover {
          background-color: $primary;
        }

        &.active {
          background-color: $primary;

          &:hover {
            background-color: $dark-hover;
          }
        }
      }
    }
  }
}
=======
>>>>>>> parent of f2ef326... fixing margin and padding for main
