@import "_switch.scss";
@import "_variable.scss";
@import "node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "./select2.scss";
@import "./preview.scss";

.ghost {
  opacity: 0;
}

.noscroll {
  overflow: hidden;
}

.d-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

.sortable-fallback {
  opacity: 1 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}
.draggable-cursor * {
  cursor: move !important; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grabbing !important; /* Firefox 1.5-26 */
  cursor: grabbing !important; /* W3C standards syntax, should come least */
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

::placeholder {
  color: $dark-gray !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}
.mt-5 {
  margin-top: 2rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.gray-font {
  color: $dark-gray !important;
}

.caption {
  font-size: 0.85rem;
  color: #000;
}

.twentyfivebold {
  font-size: 1.6rem !important;
  font-weight: 700;
}

.fourteenbold {
  font-size: 1.17rem !important;
  font-weight: 700;
}

.tenpx {
  font-size: 0.833rem;
}

.elevenpx {
  font-size: 0.917rem;
}

.font-weight-light {
  font-weight: 400;
}

.font-weight-x-bold {
  font-weight: 800;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.eightpx {
  font-size: $eightpx;
}

.btn-primary {
  min-height: 46px;
  padding: 0 36px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
  background-color: #e94151;
  border-color: #e94151;
  color: #fff !important;

  &:hover {
    background-color: #ec7322;
    border: 1px solid #ec7322;
  }

  &:focus,
  &:active {
    background-color: #ffeded !important;
    border: 1px solid #ffeded !important;
    box-shadow: none !important;
  }
}

.new-input-section-wrapper {
  .modal {
    .modal-body {
      button.btn {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */

        display: flex;

        width: 100%;
        border-radius: $border-radius-input;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        align-items: center;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        span {
          display: block;
          width: 20px;
        }

        &:hover {
          background-color: $dark-hover;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .new-input-section-wrapper {
    .modal {
      .modal-body {
        button.btn {
          font-size: 0.91rem;
          span {
            width: 15px;
          }
        }
      }
    }
  }
}

.rounded-link-wrapper {
  max-width: 500px;
  margin: auto;
  .rounded-link-container {
    background: none;
    border: none;
    max-width: 100px;

    p {
      margin-bottom: 0.5rem;
      display: inline-block;
      // max-width: 120px;
      text-align: center;
      width: 100%;
      min-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .rounded-link {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 1px solid $gray;
      position: relative;

      .icon {
        font-size: 1rem;
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }

      img {
        display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        border: 0;
        outline: none;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
      }
      img[src=""] {
        display: none;
      }
      .arrange-btn {
        position: absolute;
        left: -0.3rem;
        top: 0.2rem;
        font-size: 0.833rem;
        padding: 0.1rem 0.4rem;
        color: white;
        background-color: rgb(204, 204, 204);
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: grab;
        font-weight: 400 !important;
        visibility: visible;
      }

      img[src=""] + .arrange-btn {
        visibility: hidden;
      }
    }

    .icon-container {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      height: 20px;
      // margin-top: -0.5rem;

      .fa-trash-alt {
        // font-size: 1.2rem !important;

        -webkit-transform: scale(0.8, 0.8); /* WebKit */
        -moz-transform: scale(0.8, 0.8); /* Mozilla */
        -o-transform: scale(0.8, 0.8); /* Opera */
        -ms-transform: scale(0.8, 0.8); /* Internet Explorer */
        transform: scale(0.8, 0.8); /* CSS3 */
      }

      button {
        background: none;
        border: none;
        outline: none;
        color: $gray;
        cursor: pointer;
      }
    }
  }

  .modal {
    .modal-body {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .input-wrapper {
        width: 100%;
      }

      .input-container {
        input {
          width: 100%;
          border-radius: $border-radius-input;

          &:focus {
            border-color: $primary !important;
            box-shadow: none;
          }
        }
      }
    }

    .modal-footer {
      border: none;

      button {
        width: 100%;
        border-radius: 25px;

        &:hover {
          background-color: $dark-hover;
        }
      }
    }
    .upload-photo-container {
      border: 1px solid $gray;
      width: 130px;
      height: 130px;

      overflow: hidden;
      border-radius: 50%;
      position: relative;

      input {
        height: 100%;
        width: 100%;
        display: block;
        opacity: 0;
      }
      p {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%); /* WebKit */
        -moz-transform: translate(-50%, -50%); /* Mozilla */
        -o-transform: translate(-50%, -50%); /* Opera */
        -ms-transform: translate(500%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: $primary;
        pointer-events: none;
      }
      img {
        height: 100%;
        width: 100%;
        outline: none;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
      }

      img[src=""] {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .rounded-link-wrapper .rounded-link-container {
    max-width: 80px;
  }
  .rounded-link-container .rounded-link {
    height: 80px !important;
    width: 80px !important;
  }
}

.user-link {
  border-radius: 20px;

  a:hover {
    color: $dark-hover;
  }
}

.head-logo {
  max-width: 300px;
  max-height: 35px;
  height: auto;
  width: auto;
}

.btn-outline-primary,
.btn-fill-light,
.btn-edit-sm {
  min-height: 46px;
  padding: 0 36px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 800;
  border-color: #e94151;
  color: #e94151;
}

.btn-fill-light.active {
  background-color: #e94151;
  color: #fff !important;
}

.btn-fill-light.active:hover {
  background-color: $dark-hover;
}

.btn-outline-primary:hover,
.btn-fill-light:hover,
.btn-edit-sm:hover {
  background-color: #e94151;
  border: 1px solid #e94151;
}

a.btn.btn-primary {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-rounded {
  border-radius: 2rem;
}

.btn svg {
  margin-left: 0.5rem;
}

.btn-chip {
  border: 1px solid #ffeded;
  padding: 0 1rem;
  min-height: 40px;
}

.btn-chip--active {
  border: 1px solid #e94151;
  background-color: #ffeded;
}

.btn-chip--active--noborder {
  background-color: #ffeded;
}

.btn-container {
  flex: 1;
}

.btn-fill-light {
  background: #ffeded;
  border-radius: 3rem;
  min-height: unset;
  padding: 0.375rem 0.75rem;
  color: #e94151 !important;
  width: 100%;

  &:hover {
    color: #fff !important;
  }
  svg {
    margin-left: 0;
  }
}

.form-wrapper {
  padding: 0;
  .container {
    border: 1px solid $gray;
    padding: 0;
    border-radius: 20px;
    max-width: 100% !important;
    background-color: white;
    .drag-btn {
      background: none;
      outline: none;
      border: none;
      height: 100%;
      width: 30px;
      display: block;
      flex: 1 1 100%;
      align-self: stretch;
      border-right: 1px solid $gray;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
      cursor: grab;
    }

    .help-text {
      display: inline-block;
      line-height: 1rem;
    }

    .input-container {
      width: 100%;

      .form-group {
        .select-container {
          position: relative;

          input {
            display: block;
            width: 100%;
            /* Firefox */
            height: -moz-calc(2.25rem + 2px);
            /* WebKit */
            height: -webkit-calc(2.25rem + 2px);
            /* Opera */
            height: -o-calc(2.25rem + 2px);
            /* Standard */
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.833rem;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;

            &:focus {
              border: 1px solid $primary;
              outline: none;
            }
          }

          span.arrow-icon {
            pointer-events: none;
            position: absolute;
            right: 1rem;
            top: 50%;
            -webkit-transform: translateY(-50%); /* WebKit */
            -moz-transform: translateY(-50%); /* Mozilla */
            -o-transform: translateY(-50%); /* Opera */
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: $gray;
            background-color: white;
            font-size: $eightpx;
          }
        }
      }

      .icon-container {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.4rem;
        height: 20px;
        // margin-top: -0.5rem;

        .fa-trash-alt {
          // font-size: 1.2rem !important;
          -webkit-transform: scale(0.8, 0.8); /* WebKit */
          -moz-transform: scale(0.8, 0.8); /* Mozilla */
          -o-transform: scale(0.8, 0.8); /* Opera */
          -ms-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
        }

        button {
          background: none;
          border: none;
          outline: none;
          color: $gray;
          cursor: pointer;
        }
      }
    }
  }

  .modal-content {
    width: auto;
    padding: 0;
    .modal-body {
      padding: 2rem;

      .btn-fill-light {
        background-color: transparent;
        min-width: 120px;

        &:hover {
          background-color: $primary;
        }

        &.active {
          background-color: $primary;

          &:hover {
            background-color: $dark-hover;
          }
        }
      }
    }
  }
}

.btn-edit-sm {
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  min-height: 1rem;

  &:hover {
    color: #fff;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  color: #000;
}

main {
  min-height: calc(100vh - 40px);
  padding-bottom: 2rem;
}

footer {
  background-color: #262626;
  padding: 90px 0 136px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;

  img {
    width: 12rem;
  }

  .copyright {
    color: rgba(255, 255, 255, 0.4);
  }

  h3 {
    margin-bottom: 18px;
    color: #fff;
  }

  .row:first-of-type::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media (min-width: 768px) {
  footer {
    padding: 90px 0 70px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .navbar-brand {
    max-width: 230px;
  }
}

@media (max-width: 500px) {
  input::placeholder {
    font-size: 0.7rem;
  }
}

a {
  color: #005be2;
}

.nav-tabs {
  border-bottom: none;

  .nav-link {
    border: 1px solid #e94151;
    margin: 0 0.3rem;
    border-radius: 1.8rem;
    font-size: 1rem;
    font-weight: 800;
    color: #e94151;

    &.active,
    &:hover {
      border: 1px solid #e94151;
      background: #e94151;
      color: #fff;
    }
  }
}

.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-heading h2 {
  font-weight: 700;
}

.modal-content {
  padding: 1rem;
  border-radius: 1rem;
}

.modal-body {
  padding: 0 1rem 1rem;
}

.modal form label {
  font-weight: 700;
}

form input {
  min-height: 48px;
}

input:focus,
textarea:focus,
select:focus,
input:focus,
textarea:focus {
  border-color: $primary !important;
  box-shadow: 0 0 0 2px rgba(238, 126, 51, 0.07) !important;
}

ul.nav-tabs {
  padding-left: 0;
}

.btn {
  &.focus,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.links-wrapper select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal {
  overflow: auto !important;
}

.links-wrapper {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.link {
  text-decoration: underline !important;
  display: inline-block;
  margin-bottom: 12px;
  overflow-wrap: anywhere;

  &:hover {
    color: #40aaf9;
  }
}

.navbar {
  background: #fcfcfc;
  height: 55px;
}

.header-pro-logo {
  max-height: 28px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .header-pro-logo {
    width: 12rem;
  }
}

nav .nav-link {
  font-size: 0.9rem;
}

.custom-control {
  color: #000 !important;
}

input {
  color: #000 !important;

  &[type="text"] + p {
    margin-top: 0.25rem !important;
  }
}

.grid {
  margin: 0 auto;
}

.richText {
  border-radius: 5px;
}

.bell-icon {
  width: 1rem !important;
}

footer {
  font-size: 0.875rem;

  img {
    width: 12rem !important;
    margin-bottom: 30px !important;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .grid {
    width: 95% !important;
    margin: 10px auto;

    .card {
      width: 100% !important;
    }
  }
}

@media (max-width: 576px) {
  .bell-icon {
    width: 1rem !important;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-toggler,
  .nav-link {
    font-size: 14px !important;
  }

  .navbar-collapse {
    position: absolute;
    top: 80%;
    right: 7%;
    background: #fff;
    filter: drop-shadow(0 0 4px #ccc);
    width: 45%;
    padding: 12px;
    border-radius: $border-radius-input;
    z-index: 9999;
  }

  .nav-link.dropdown-toggle {
    display: none !important;
  }

  .dropdown-menu {
    display: inline-block !important;
    border: unset !important;
    padding: 0;
    margin: 0;
    min-width: 100%;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 340px) {
  .header-pro-logo {
    max-height: 24px;
  }
}

/*# sourceMappingURL=main.css.map */
