@import "_switch.scss";
@import "_variable.scss";
@import "node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "./_reset.scss";
@import "./select2.scss";
@import "./preview.scss";
@import "./spectrumCustom.scss";
@import "./customClass.scss";
@import "./_footer.scss";
@import "./_navbar.scss";
@import "./_featureLinkNav.scss";
@import "./_modalCustom.scss";

.style-wrapper {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

.section {
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 2rem;

  .section-title {
    font-weight: 700;
  }
}

.profile-section {
  .user-image-wrapper {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;

    align-items: center;

    .user-image-setting {
      margin-left: 1rem;

      .input-container {
        position: relative;
        margin-bottom: 0.5rem;
        cursor: pointer !important;

        &:hover .btn {
          background-color: $primary;
          color: white !important;
        }

        input {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
        }
        input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
          /* chromes and blink button */
          cursor: pointer;
        }

        .btn {
          position: relative;
          font-weight: 400;
          font-size: $tenpx;
          padding: 0.3rem 0.7rem;
          cursor: pointer;
          pointer-events: none;
        }
      }
    }

    .setting {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex;
      align-items: center;

      button {
        background: none;
        border: none;
        color: $gray;
        font-size: 1.4rem;
        -webkit-transform: scale(0.8, 0.8); /* WebKit */
        -moz-transform: scale(0.8, 0.8); /* Mozilla */
        -o-transform: scale(0.8, 0.8); /* Opera */
        -ms-transform: scale(0.8, 0.8); /* Internet Explorer */
        transform: scale(0.8, 0.8); /* CSS3 */
        line-height: 1rem;
      }

      label {
        margin-bottom: 0 !important;
      }
    }

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 0;
      outline: none;
      background-position: center center;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }
  .form-wrapper {
    .label {
      font-weight: 700;
      margin-bottom: 0.5rem;

      .setting {
        font-weight: 400;
      }
    }
    form {
      .form-group {
        margin-bottom: 0;

        input {
          min-height: 0;
          font-size: $tenpx;
        }
        small {
          min-height: 1rem;
        }
      }
    }

    .icon-container {
      margin-bottom: 1rem;

      .select-container {
        position: relative;

        select {
          font-size: $tenpx;
          background: none;
          color: #000;
        }

        .arrow-icon {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%); /* WebKit */
          -moz-transform: translate(-50%, -50%); /* Mozilla */
          -o-transform: translate(-50%, -50%); /* Opera */
          -ms-transform: translate(500%, -50%);
          transform: translate(-50%, -50%);
          right: 0.5rem;
          color: $gray;
          font-size: $eightpx;
        }
      }
      .icon-list {
        margin-bottom: 1rem;
        font-size: 1.2rem;

        a {
          margin-right: 0.5rem;
          text-decoration: none;
        }
      }
    }
  }
}

.user-link {
  border-radius: 20px;

  a:hover {
    color: $dark-hover;
  }
}

.head-logo {
  max-width: 300px;
  max-height: 35px;
  height: auto;
  width: auto;
}

/*# sourceMappingURL=main.css.map */
